<div class="centered-container">
  <div class="flex-column gap-2 box-shadow" [formGroup]="userForm">

    <h2 [ngStyle]="{ color: 'var(--primary-color)' }">Cadastro</h2>

    <p-floatLabel>
      <input pInputText id="nome" formControlName="nome" />
      <label [ngStyle]="{ color: 'var(--primary-color)' }" for="nome">Nome</label>
    </p-floatLabel>

    <p-floatLabel>
      <input pInputText id="email" formControlName="email" />
      <label [ngStyle]="{ color: 'var(--primary-color)' }" for="email">E-mail</label>
    </p-floatLabel>


    <p-floatLabel>
      <p-password formControlName="password" [feedback]="false" [toggleMask]="true" />
      <label [ngStyle]="{ color: 'var(--primary-color)' }" for="password">Senha</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-dropdown
        [options]="cargos"
        formControlName="cargo"
        for="cargo"
        optionLabel="label"
        optionValue="value"
        inputId="float-label"
        class="fixed-dropdown"
        [style]="{ width: '100%', height: '40px' }"
        [showClear]="true"
      ></p-dropdown>
      <label for="float-label">Selecione o cargo</label>
    </p-floatLabel>

    <div class="btn-container">
      <div>
        <a><p-button label="voltar" [raised]="false" severity="secondary" [routerLink]="['../login']" /></a>
      </div>
      <div>
        <p-toast/>

        <a><p-button label="Cadastrar" [raised]="true"(click)="storeUser()" /></a>
      </div>
    </div>
  </div>
</div>
